/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

form, button{
  width: 50%;
  align-content: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
