/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/




/******************************************
/* LAYOUT
/*******************************************/
header, footer{
  height: 50px;
  border: 1px solid rgb(47, 201, 150);
  width: 100%;
  clear: both;
}
section{
  border: 1px solid red;
  height: 100px;
  width: 33.33%;
  float: left;
}
.bottom{
width: 50%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
